get_devices_list_flow.json
[{"id":"aaacb36c.aca798","type":"http in","name":"","url":"/device-list","method":"get","x":253.33333587646484,"y":759.9999179840088,"z":"252de0b7.3ae108","wires":[["70f02e54.35f288","dd01452d.b2fc48"]]},{"id":"70f02e54.35f288","type":"debug","name":"","active":false,"complete":false,"x":383.3333549499512,"y":885.0000400543213,"z":"252de0b7.3ae108","wires":[]},{"id":"684b5385.86057c","type":"function","name":"return device list JSON","func":"\nvar words = msg.payload.split(\"Routes<pre>\")[1].match(/[0-9a-f:]+\\/128/g);\n\nfor (i=0;i<words.length;i++)\n{\n\twords[i] = words[i].split(\"/\")[0];\n}\n\n\nmsg.payload = {}\n\nmsg.payload.devices = words;\n\nreturn msg;","outputs":1,"x":891.3332901000977,"y":752.999979019165,"z":"252de0b7.3ae108","wires":[["7d0b034f.06aabc","f9a3afc3.18c65"]]},{"id":"7d0b034f.06aabc","type":"debug","name":"","active":false,"complete":"true","x":1094.3334732055664,"y":862.999979019165,"z":"252de0b7.3ae108","wires":[]},{"id":"dd01452d.b2fc48","type":"http request","name":"get device list from border router","method":"GET","url":"http://[aaaa::212:7401:1:101]/","x":557.3333511352539,"y":757.9999389648438,"z":"252de0b7.3ae108","wires":[["684b5385.86057c","d6fcc196.fcb27"]]},{"id":"d6fcc196.fcb27","type":"debug","name":"","active":false,"complete":"true","x":779.3332939147949,"y":865.9999799728394,"z":"252de0b7.3ae108","wires":[]},{"id":"f9a3afc3.18c65","type":"http response","name":"","x":1127.3334159851074,"y":760.9999189376831,"z":"252de0b7.3ae108","wires":[]}]
