get_value_from_mote_flow.json
[{"id":"ab05f2d3.d25138","type":"http in","name":"","url":"/sensors/battery","method":"get","x":118.33329772949219,"y":308.0001230239868,"z":"252de0b7.3ae108","wires":[["6ab92a5b.d8d584","c69d13e6.28a698"]]},{"id":"c69d13e6.28a698","type":"debug","name":"","active":false,"complete":"false","x":264.3333168029785,"y":466.9999542236328,"z":"252de0b7.3ae108","wires":[]},{"id":"6ab92a5b.d8d584","type":"function","name":"parse device address and construct coap url","func":"\nvar str = msg.payload.device.match(/^[0-9]+$/m)\n\nmsg.payload = \"coap://[\" + msg.payload.device + \"]:5683/sensors/battery\"\n\nreturn msg","outputs":"1","x":457.3333053588867,"y":303.99998474121094,"z":"252de0b7.3ae108","wires":[["6c18d5c8.c7622c","f4fe227b.4e128"]]},{"id":"49fa70e.0780f9","type":"http response","name":"Respond to http request with JSON of value","x":1219.333251953125,"y":322.9999694824219,"z":"252de0b7.3ae108","wires":[]},{"id":"6c18d5c8.c7622c","type":"exec","command":"/home/alexandru/work/libcoap-4.1.1/examples/coap-client -m get","append":"","useSpawn":"","name":"coap request","x":748.333251953125,"y":306.99998474121094,"z":"252de0b7.3ae108","wires":[["d08e41b0.b503a8","17f896aa.ebdec9"],[],[]]},{"id":"77743e15.c5b1d8","type":"debug","name":"","active":false,"complete":"false","x":1102.333251953125,"y":198.99996948242188,"z":"252de0b7.3ae108","wires":[]},{"id":"d08e41b0.b503a8","type":"function","name":"return value as JSON","func":"\ncontext.value = msg.payload\n\nvar str = context.value.match(/^[0-9]+$/m)\n\nmsg.payload = {};\n if ( str[0] ) \n \tmsg.payload.value = str[0]\n else\n \tmsg.payload.value = null\n\nreturn msg;","outputs":1,"x":960.333251953125,"y":295.00001525878906,"z":"252de0b7.3ae108","wires":[["77743e15.c5b1d8","49fa70e.0780f9"]]},{"id":"f4fe227b.4e128","type":"debug","name":"","active":false,"complete":false,"x":669.3333148956299,"y":463.00001525878906,"z":"252de0b7.3ae108","wires":[]},{"id":"17f896aa.ebdec9","type":"debug","name":"","active":false,"complete":false,"x":917.3332538604736,"y":447.33332920074463,"z":"252de0b7.3ae108","wires":[]}]
