get_value_from_mote_flow.json
[{"id":"ab05f2d3.d25138","type":"http in","name":"","url":"/sensors/battery","method":"get","x":158.33333587646484,"y":281.0001173019409,"z":"252de0b7.3ae108","wires":[["6ab92a5b.d8d584","c69d13e6.28a698"]]},{"id":"c69d13e6.28a698","type":"debug","name":"","active":false,"complete":"false","x":304.3333549499512,"y":439.9999485015869,"z":"252de0b7.3ae108","wires":[]},{"id":"6ab92a5b.d8d584","type":"function","name":"parse device address and construct coap url","func":"\nvar str = msg.payload.device.match(/^[0-9]+$/m)\n\nmsg.payload = \"coap://[\" + msg.payload.device + \"]:5683/sensors/battery\"\n\nreturn msg","outputs":"1","x":497.3333435058594,"y":276.99997901916504,"z":"252de0b7.3ae108","wires":[["6c18d5c8.c7622c","f4fe227b.4e128"]]},{"id":"49fa70e.0780f9","type":"http response","name":"","x":1259.3332901000977,"y":295.999963760376,"z":"252de0b7.3ae108","wires":[]},{"id":"6c18d5c8.c7622c","type":"exec","command":"/home/alexandru/work/libcoap-4.1.1/examples/coap-client -m get","append":"","useSpawn":"","name":"coap request","x":788.3332901000977,"y":279.99997901916504,"z":"252de0b7.3ae108","wires":[["d08e41b0.b503a8","17f896aa.ebdec9"],[],[]]},{"id":"77743e15.c5b1d8","type":"debug","name":"","active":false,"complete":"false","x":1142.3332901000977,"y":171.99996376037598,"z":"252de0b7.3ae108","wires":[]},{"id":"d08e41b0.b503a8","type":"function","name":"return value as JSON","func":"\ncontext.value = msg.payload\n\nvar str = context.value.match(/^[0-9]+$/m)\n\nmsg.payload = {};\n if ( str[0] ) \n \tmsg.payload.value = str[0]\n else\n \tmsg.payload.value = null\n\nreturn msg;","outputs":1,"x":1000.3332901000977,"y":268.00000953674316,"z":"252de0b7.3ae108","wires":[["77743e15.c5b1d8","49fa70e.0780f9"]]},{"id":"f4fe227b.4e128","type":"debug","name":"","active":false,"complete":false,"x":709.3333530426025,"y":436.00000953674316,"z":"252de0b7.3ae108","wires":[]},{"id":"17f896aa.ebdec9","type":"debug","name":"","active":false,"complete":false,"x":957.3332920074463,"y":420.33332347869873,"z":"252de0b7.3ae108","wires":[]}]
